[submodule "vim-solidity"]
	path = vim-solidity
	url = https://github.com/tomlion/vim-solidity.git
[submodule "rust.vim"]
	path = rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "idris-vim"]
	path = idris-vim
	url = https://github.com/idris-hackers/idris-vim.git
[submodule "vim-pug"]
	path = vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule "elm-vim"]
	path = elm-vim
	url = https://github.com/ElmCast/elm-vim.git
[submodule "vim-vyper"]
	path = vim-vyper
	url = https://github.com/jacqueswww/vim-vyper.git
[submodule "vim-vue"]
	path = vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "v-vim"]
	path = v-vim
	url = https://github.com/ollykel/v-vim.git
[submodule "vim-terraform"]
	path = vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "vim-llvm"]
	path = vim-llvm
	url = https://github.com/rhysd/vim-llvm.git
